<div class="container">
	<div class="row">
		<h2 style="text-align: center; font-size: 50px;">About</h2>
		<p style="text-align: center; font-size: 25px;">
		  ながのCakeは全国発送可能なケーキ屋さんです。<br>
		  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
		  様々なバリエーションをご用意しております。<br>
		  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		  ぜひご注文ください。</p>
		<p style="text-align: center;"><%= image_tag 'mousse_cake.jpg', :size => '600x400' %></p>
	</div>
</div>