<div class="container">
	<div class="row">
		<div class="col-lg-12">
          <h2 style="font-size: 25px; padding-bottom: 10px;">
          	<span style="background-color:#f8f8f8;"><%= @customer.first_name           %><%= @customer.last_name %>さんの会員情報編集
          	</span>
          </h2>
        </div>
    </div>
</div>