// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.o-3column{
	padding-bottom: 20px;
}
.o-3column .col-lg-9{
	padding-left: 50px;
	line-height: normal;
}