<div class="container">
	<div class="row">
 	  <div class='col-lg-12'>
        <h4 style="padding-bottom: 10px;"><span style="background-color:#D5D7DD;">　管理者画面　</span></h4>
      </div>
      <div class='col-lg-12'>
        <h3>本日の注文件数　　<a><%= @todays_order %></a>
        件</h3>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </div>
    </div>
</div>
